# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Vim Stuff
*.swp

# Project specific stuff
bin
Makefile
moc_*
Testing
win32
